/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */
@tailwind utilities;

svg {
  width: inherit;
  height: inherit;
}

@layer utilities {
  /* Functions */
  .header-footer-layout {
    @apply grid h-screen;

    grid-template-rows: 60px 1fr 60px;
  }

  /* Signup page */
  .signup-layout {
    display: grid;
    grid-template-rows: 14rem 1fr;
  }

  @responsive {
    .signup-layout-md {
      display: grid;
      grid-template-columns: 30rem 1fr;
      grid-template-rows: repeat(1, minmax(0, 1fr));
    }
  }

  /* Overview */
  .overview-layout {
    display: grid;
    grid-template-rows: 10rem 1fr;
  }

  .overview-cards-list {
    display: grid;
    grid-template-rows: repeat(2, 25rem);
    grid-auto-rows: 25rem;
  }

  /* Settings */
  .settings-layout {
    display: grid;
    grid-template-rows: max-content 1fr;
  }

  @responsive {
    .settings-layout-md {
      display: grid;
      grid-template-columns: 20rem 1fr;
    }
  }

  .settings-cards-list {
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
  }
}
